@import "tailwindcss";
@import "mapbox-gl/dist/mapbox-gl.css";

body {
  @apply bg-gray-50 dark:bg-gray-950;
}
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
.user-location-marker {
  cursor: pointer;
}
#qr-reader {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

#qr-reader video {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

#qr-reader__scan_region {
  border-radius: 12px;
  overflow: hidden;
}